* {
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
h1{
    text-align: left;
}
h2{
    font-weight: 700;
    font-size: 40px;
    margin: 10px auto;
}
p{
    margin: 5px auto;
}
button{
    width: 80%;
    height: 30px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
}
#increment-btn{
    background-color: green;
    color: white;
}
#save-btn{
    background-color: red;
    color: white;
}